:root {
    --subtext : "Inter", sans-serif;
    --title-font: "Merriweather", serif;
    --playfair-font: "Playfair Display", serif;
    --link-size: 1.4rem
}

/* Navbar */
* {
    margin: 0;
    padding: 0;
}

.nav-div {
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: transparent;
}

.nav-link-div {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    font-size: var(--link-size);
    font-family: var(--subtext);
    cursor: pointer;
}

.nav-link:hover {
    font-size: 1.7rem;
    text-decoration: underline;
}

.hamburger-icon-div {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Nav Modal */

.hamburger-div {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 200;
    background-color: white;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 200px;
}

.menu-link {
    margin-top: 50px;
    font-family: var(--subtext);
    font-size: var(--link-size);
    cursor: pointer;
}

.menu-link:hover {
    font-size: 1.7rem;
    text-decoration: underline;
}

.announcements-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#expand-btn {
    width: 30px;
    rotate: 180deg;
}

.announcements-header p{
    margin-top: 0;
    margin-right: 20px;
}
.announcement-div {
    
    display: none;
}


/* Welcome Section */

.header {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(
        to right, rgba(0, 0, 0, 0.50) , rgba(0, 0, 0, 0.50)), url("./assets/pexels-pixabay-256417.jpg")
    ;
    background-repeat: no-repeat;
    background-size: cover;
}
